/* ==UserStyle==
@name         OneDrive After Dark
@description  Finely tuned UserCSS dark theme for the OneDrive web app
@namespace    https://github.com/stamminator
@version      20240330.2
@author       stamminator
==/UserStyle== */

@primaryButtonBackground: #0f66b0;

@colorBrand40: #0c3b5e;
@colorBrand60: #0f548c;
@colorBrand70: #115ea3;
@colorBrand80: #0f6cbd;
@colorBrand90: #2886de;
@colorBrand100: #479ef5;
@colorBrand130: #96c6fa;
@colorBrand140: #b4d6fa;
@colorBrand150: #cfe4fa;
@colorBrand160: #ebf3fc;
@colorGrey4: #121212;  // us
@colorGrey7: #1a1a1a;  // us
@colorGrey10: #202020; // us
@colorGrey14: #242424;
@colorGrey17: #2c2c2c; // us
@colorGrey20: #333333;
@colorGrey26: #424242;
@colorGrey38: #616161;
@colorGrey44: #707070;
@colorGrey50: #7d7d7d; // us
@colorGrey55: #8b8b8b; // us
@colorGrey60: #989898; // us
@colorGrey65: #a6a6a6; // us
@colorGrey70: #b3b3b3;
@colorGrey74: #bdbdbd;
@colorGrey78: #c7c7c7;
@colorGrey82: #d1d1d1;
@colorGrey84: #d6d6d6;
@colorGrey88: #e0e0e0;
@colorGrey92: #ebebeb;
@colorGrey94: #f0f0f0;
@colorGrey96: #f5f5f5;
@colorGrey98: #fafafa;
@colorBlackAlpha10: #0000001a;
@colorBlack: #000000;
@colorWhite: #ffffff;
@colorWhiteAlpha70: #ffffffb3;
@colorLightBlueTint30: #83bdeb;
@colorCranberryTint40: #eeacb2;
@colorCranberryTint60: #fdf3f4;

@colorNeutralBackground6: #ffffff33;
@colorNeutralBackground7: #ffffff4d;
@colorNeutralBackground8: #ffffff66;
@colorNeutralBackground9: #7c55ce0f;

@colorNeutralBackground10: #28abf503;
@colorNeutralBackground11: #0000000a;
@colorNeutralBackground12: #0000000c;
@colorNeutralBackground13: #00000028;
@colorNeutralBackground14: #00000014;
@colorNeutralBackground15: #d2d5d6;
@colorNeutralBackground16: #c9c6d0;
@colorNeutralBackground17: #cecbd5;
@colorNeutralBackground18: #cdd0d1;
@colorNeutralBackground19: #e0e0e057;

@colorNeutralBackgroundAlpha3Hover: rgba(0, 0, 0, 0.25);

@colorCompoundBrandStroke: @colorBrand80;

@colorBrandBackground2Pressed: @colorBrand70;

@text-light1: @colorGrey92;
@text-light2: @colorGrey74;
@text-light3: @colorGrey55;


// File picker
#appRoot > .od-FilePickerApp {
    &,
    .od-FilePicker,
    .od-FilePicker-tray {
        background-color: @colorGrey17;
    }

    [class^='navPane_'] {
        background-color: @colorGrey17;
        border-color: @colorGrey17;

        .ms-Button.ms-Nav-link {
            background-color: transparent !important;
            --buttonHoverBackgroundAlpha: fade(#fff, 7%);

            &:not(.is-disabled) {
                &:hover,
                &:active {
                    background-color: var(--buttonHoverBackgroundAlpha) !important;
                }
            }
        }
    }

    .od-FilePicker-tray {
        background-color: @colorGrey17;
        border-color: @colorGrey17;
    }
}

@-moz-document domain("onedrive.live.com"), domain("photos.onedrive.com"), url-prefix("https://www.odwebp.svc.ms/share")
{
    body {
        color: @text-light1 !important;
    }

    h1, h2, h3, h4, h5, h6 {
        color: @text-light1 !important;
    }

    dt {
        color: @text-light3 !important;
    }

    dd {
        color: @text-light2 !important;
    }

    :root, * {
        //--colorBrandBackground2Pressed: fade(@colorBrand100, 50%);
        --colorBrandForegroundLinkSelected: @colorBrand80;
        --colorNeutralBackgroundAlpha3Hover: @colorNeutralBackgroundAlpha3Hover;
        --colorNeutralForeground1: @text-light1;
        --colorNeutralForeground2: @text-light2;

        --od3-row-divider: #333 !important;
        --od3-row-inset-background: fade(@colorBrand90, 25%) !important;

        --ms-palette-neutralPrimary: @text-light1;
        --ms-semanticColors-bodyBackground: @colorGrey10;
    }

    :root,
    [data-theme="fluent-light"],
    [data-theme="fluent-dark"] {
        --pageBackgroundGradientColorStop1: rgb(36, 36, 36);
        --pageBackgroundGradientColorStop2: rgb(32, 32, 32);
        --pageBackgroundGradientColorStop3: rgb(28, 28, 28);
    }

    :root {
        // My variables
        --buttonHoverBackgroundAlpha: fade(#000, 25%) ; // override to white + alpha when background is too dark
    }

    /////////////////////////////////
    // MICROSOFT COMMON COMPONENTS //
    /////////////////////////////////

    // Text
    html body .ms-fontColor-neutralSecondary {
        color: @colorGrey60;
    }

    // Buttons
    .ms-Button {
        &, i {
            color: @text-light1 !important;
        }

        &:hover {
            &,
            .ms-Button-menuIcon {
                color: @text-light1 !important;
            }

            &:not(.is-disabled) {
                background-color: var(--buttonHoverBackgroundAlpha);
            }
        }

        &.ms-Button--command,
        &.ms-Button--commandBar
        {
            &:hover {
                background-color: transparent !important;
            }
        }

        &.ms-Button--default {
            color: @text-light2;
            background-color: transparent !important;
            border-color: @colorGrey65 !important;

            &:hover:not(.is-disabled) {
                background-color: var(--buttonHoverBackgroundAlpha) !important;
            }
        }

        &.ms-Button--primary {
            &:hover:not(.is-disabled) {
                background-color: @primaryButtonBackground !important;
            }
        }

        &.is-disabled {
            opacity: 0.25;
        }
    }

    .od-Panel-button--close {
        color: @text-light2;

        &:hover {
            background-color: var(--buttonHoverBackgroundAlpha);
        }
    }


    // Text fields
    .ms-TextField
    {
        background-color: @colorGrey94 !important;
        color: @colorBlack !important;
    }

    .ms-TextField-fieldGroup,
    input.ms-TextField-field,
    textarea.ms-TextField-field,
    .ms-BasePicker-input
    {
        background-color: @colorGrey92 !important;
        color: @colorBlack !important;
        border-radius: 4px;

        &::placeholder {
            color: @colorGrey44 !important;
        }
    }


    // Dialogs
    .ms-Dialog-main,
    .ms-Dialog-content,
    .ms-Dialog-subText
    {
        color: @text-light2 !important;
        background-color: @colorGrey20 !important;
    }

    .ms-Dialog-title
    {
        color: @text-light1 !important;
    }

    .ms-Dialog-button
    {
        color: @text-light2 !important;

        &:hover,
        &:active {
            background-color: var(--buttonHoverBackgroundAlpha) !important;
        }
    }


    // Toast
    [data-automationid="msFluentToast"][role='alert'][class*='root-']
    {
        background-color: @colorGrey4 !important;
        --buttonHoverBackgroundAlpha: fade(#fff, 7%) !important;
    }

    i[data-icon-name="SyncStatusSolid"] {
        line-height: 1;
    }

    // Pivot (tabs)
    .ms-Pivot-link:hover {
        background-color: @colorBlackAlpha10;
    }


    // Breadcrumbs
    .ms-Breadcrumb-item,
    .ms-Breadcrumb-itemLink {
        color: @text-light1 !important;
    }

    .ms-Breadcrumb-chevron {
        color: @text-light3 !important;
    }


    // Suggestions
    .ms-Suggestions-item,
    .ms-Suggestions-itemButton
    {
        color: @text-light2;
        background-color: @colorGrey17;

        &:hover {
            background-color: @colorGrey14 !important;
        }

        &.is-suggested {
            background-color: @colorGrey10 !important;
        }

        .ms-Persona-primaryText:hover {
            // when persona is inside a suggestion list, don't indicate clickability on label
            color: @text-light1;
        }
    }


    // Dropdowns
    .ms-Dropdown-item {
        color: @text-light2;
        background-color: @colorGrey17;

        &:hover {
            background-color: @colorGrey14 !important;
        }
    }


    // Persona
    .ms-PickerPersona-container {
        color: @text-light2;
        background-color: @colorGrey7;
        border: 1px solid @colorGrey20;

        &:hover {
            cursor: pointer;
            background-color: @colorGrey4;
        }

        &.is-selected {
            &, &:hover {
                background-color: @colorGrey4;
                border-color: var(--colorBrandForegroundLink);
            }
        }

        .ms-PickerItem-content.ms-Button--icon:hover {
            background-color: @colorGrey20;
        }
    }

    .ms-Persona-primaryText {
        color: @text-light1;
        &:hover {
            color: @text-light1;
        }
    }

    .ms-Persona-secondaryText {
        color: @text-light2;
    }

    .ms-Persona-tertiaryText {
        color: @text-light3;
    }


    // Callout (context menu)
    .ms-Callout,
    .ms-Callout-beak,
    .ms-Callout-beakCurtain,
    .ms-Callout-main,
    .ms-ContextualMenu,
    .ms-ContextualMenu-link
    {
        color: @text-light2 !important;
        background-color: @colorGrey7 !important;
        border-color: @colorGrey14;
    }

    .ms-ContextualMenu-itemText {
        color: @text-light2 !important;
    }

    .ms-ContextualMenu-secondaryText {
        color: @text-light3 !important;
    }

    .ms-ContextualMenu-link {
        &:hover {
            background-color: @colorGrey14 !important;
        }

        .ms-ContextualMenu-icon {
            color: inherit;
        }
    }

    .ms-ContextualMenu-checkmarkIcon {
        color: @text-light1 !important;
    }

    .ms-ContextualMenu-divider {
        background-color: @colorGrey26;
    }


    // Tooltips
    .ms-Tooltip-content,
    .ms-Tooltip-subText {
        color: @text-light2 !important;
    }


    // Datepicker callout
    .ms-DatePicker
    {
        background-color: @colorGrey7;

        [class*='monthAndYear-'] {
            color: @text-light2;
        }

        [class*='monthComponents-'] button {
            color: @text-light2;

            &:hover {
                background-color: @colorGrey14;
            }

            &[class*='disabledStyle'] {
                color: @colorGrey26;
            }
        }

        [class*='dayCell-'] {
            color: @text-light1;

            &.ms-CalendarDay-hoverStyle {
                background-color: @colorGrey20;
            }

            &[class*='daySelected-'] {
                background-color: @colorGrey20 !important;
                border-color: @colorGrey98;
            }
        }

        [class*='dayOutsideBounds-'] {
            button {
                color: @colorGrey38;
            }
        }

        // usability improvements
        th[class*='dayCell-'] {
            cursor: default;
            border-bottom: 1px solid @colorGrey50;
        }
    }
}


@-moz-document url-prefix("https://www.odwebp.svc.ms/share")
{
    // Sharing iframe
    #odc-share-root,
    .od-Share,
    .od-ShareMain-section
    {
        background-color: @colorGrey10 !important;
        color: @text-light2 !important;
    }

    .od-ShareHintDetail-statusText {
        &, * {
            color: var(--colorNeutralForegroundInvertedLink) !important;
        }
    }
    
    .od-RoleSelectorCompact-permissionButton {
        background-color: inherit;
        color: inherit;
    }

    .od-ShareLinkDescription-label {
        color: @text-light2 !important;
    }

    .od-ShareLinkDescription-detailText {
        color: @text-light3 !important;
    }

    .od-ExpirationDatePicker-delete {
        color: @text-light2;
    }

    .od-RoleSelectorLarge-rolesDropdown .ms-Dropdown-title,
    .od-ExpirationDatePicker-content,
    .od-PasswordField .od-ShareLink-passwordFieldContent
    {
        border-bottom-color: transparent;
    }

    .od-PasswordField .ms-TextField {
        padding: 0;
        padding-left: 4px;
        padding-right: 4px;
    }

    .od-PasswordField .ms-TextField .ms-TextField-fieldGroup {
        height: auto;
    }

    .od-ShareHint .od-ShareHint-shimmer {
        border-color: transparent !important;
        background-image: linear-gradient(to right, @colorGrey38 0, @colorGrey55 50%, @colorGrey38 100%);
        background-color: @colorGrey38;

        .od-ShareHint-iconHolder-shimmer svg {
            fill: @colorGrey10 !important;
        }

        .od-ShareHint-text-shimmer {
            border-color: @colorGrey10 !important;
        }
    }

    .od-PermissionsPivot-emptySection {
        color: inherit;
    }

    .od-SharePrincipal2,
    .od-PermissionsPivot-dropdown div[role=tablist].ms-FocusZone,
    .od-PermissionsPivot-pivot div[role=tablist].ms-FocusZone {
        border-color: @colorGrey26;
    }
}

@-moz-document domain("onedrive.live.com")
{   
    // Header
    #O365_NavHeader {
        background-color: @colorGrey4;
        
        .o365cs-base,
        .o365sx-appName,
        .o365sx-waffle {
            color: var(--globalColorGrey88);

            &:hover {
                background-color: @colorGrey14;
            }
        }

        .o365sx-activeButton {
            background-color: @colorGrey17;
        }

        .o365sx-searchBoxInactive,
        .o365sx-searchBoxActive {
            color: @colorGrey26;
            background-color: @colorGrey94;
        }
    }

    #O365_UniversalMeContainer:hover {
        background-color: @colorGrey14;
    }

    #mectrl_main_body,
    .mectrl_body,
    #mectrl_body_signOut 
    {
        background-color: @colorGrey7;
        color: @text-light1
    }

    .mectrl_accountList,
    #mectrl_body_signOut:hover {
        background-color: @colorGrey14;
    }

    .playback-button() { // mixin
        color: @text-light2 !important;

        border-radius: 4px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: fade(#fff, 7%) !important;
        }
    }

    // OneUp command bar
    .OneUp.OneUp--newDesignedCommandBar {
        background-color: @colorGrey10;
    }

    .od-VolumeMenu
    {
        color: @text-light2;
        border-radius: 6px;
        border-color: #000;
        background-color: #222 !important;
    }

    .od-VolumeMenu-button {
        .playback-button();
    }

    .od-VolumeMenu-scrubFill {
        background-color: @colorGrey44;
    }
    
    .od-VolumeMenu-scrubThumb::after {
        top: -2px;
        box-sizing: content-box;
        border-radius: 8px;
        border: 2px solid #eee;
        background-color: #eee;
    }

    .od-VolumeMenu-scrubArea:active .od-VolumeMenu-scrubThumb::after {
        background-color: @colorGrey44;
    }

    .OneUp-content {
        &,
        [class*='Content_'] {
            background-color: @colorGrey10 !important;
        }

        [class*='bottomToolArea_'] [role='menubar'] {
            background-color: @colorGrey17 !important;
            border-color: @colorGrey38 !important;

            .ms-Button {
                background-color: @colorGrey17 !important;

                &:hover:not(.is-disabled) {
                    background-color: var(--buttonHoverBackgroundAlpha) !important;
                }
            }

            [class*='pagination_'] {
                color: @text-light2 !important;
            }

            [class*='keyword_'] > [class*='result_'] {
                color: @text-light2 !important;
            }
        }

        .OneUp-caption-container,
        .od-PlaybackPanel,
        .od-PlaybackPanel-timePlayed,
        .od-PlaybackPanel-totalTime
        {
            background-color: fade(@colorGrey4, 90%) !important;
            color: @text-light2 !important;
        }

        .OneUp-caption {
            color: @text-light2 !important;
        }

        .od-PlaybackPanel-button {
            .playback-button();
        }
    }

    .OneUp-commandBar {
        background-color: @colorGrey4 !important;
        border-color: @colorGrey4 !important;

        .ms-Button {
            --buttonHoverBackgroundAlpha: fade(#fff, 7%) !important;

            &:hover:not(.is-disabled) > .ms-Button-flexContainer {
                background-color: var(--buttonHoverBackgroundAlpha);
            }

            &.od-Command--PrimaryButton:hover {
                background-color: @primaryButtonBackground !important;
            }

            .ms-Button-menuIcon {
                background-color: transparent;
            }

            &.od-Command--fileTitle {
                opacity: 1;
            }
        }
    }


    // Popup search
    [id^='ms-searchux-popup-']
    {
        &,
        #file,
        ul[class^='group-'],
        ul[class^='group-'] > li,
        [class^='suggestionContainer-'],
        [class^='submitSuggestion-']
        {
            color: @colorGrey50 !important;
            background-color: @colorGrey17;
        }

        [class^='noWrap-'] {
            color: @colorGrey50 !important;
        }

        [class^='suggestionContainer-'],
        [class^='submitSuggestion-']
        {
            &:hover {
                background-color: @colorGrey26;
            }
        }

        [class^='suggestionIconWrapper-'] {
            &,
            [class^='icon-'] {
                color: @colorGrey96;
            }
        }

    }


    // Left nav
    #spartan-left-nav,
    [class^='navGroup_'],
    [class^='quotaBarHeader_']
    {
        color: @text-light1 !important;
    }

    #spartan-left-nav.odsp-spartan-nav-expanded {
        background-color: @colorGrey10;
    }

    [class^='navLink_'] {
        color: @text-light1;

        &:hover {
            &::before,
            [class^='navLinkInner_'] {
                background-color: @colorGrey26 !important;
            }

            a {
                color: @text-light1 !important;
            }
        }
    }

    // App launcher
    #appLauncher {
        .o365sx-neutral-foreground-background, 
        .o365sx-neutral-foreground-hover-background:hover {
            background-color: @colorGrey4;
        }

        .o365sx-neutral-light-background,
        .o365cs-base .o365sx-neutral-light-hover-background:hover {
            background-color: @colorGrey17;
        }

        .o365sx-neutral-dark-font,
        .o365sx-neutral-dark-hover-font:hover {
            color: @text-light1;
        }

        [id^='O365_AppTile_'],
        [id^='intentTile_']
        {
            &:hover {
                &,
                .o365sx-neutral-foreground-background,
                .o365sx-neutral-foreground-hover-background:hover {
                    border-color: @colorGrey17 !important;
                    background-color: @colorGrey14 !important;
                    box-shadow: none !important;
                }
            }
            
            &:active {
                border-color: @colorGrey20 !important;
                background-color: @colorGrey17;
            }
        }

        #appLauncherSearchWrapper {
            &:hover::before {
                color: transparent;
            }

            &:focus-within::before {
                color: @colorCompoundBrandStroke
            }
        }
    }


    // Settings pane
    #O365fpcontainerid,
    #flexPaneScrollRegion,
    #flexPaneScrollRegion > div,
    #FlexPane_Settings {
        color: @text-light2 !important;
        background-color: @colorGrey7 !important;
        border-color: @colorGrey4 !important;

        .o365sx-neutral-accent-link {
            color: @text-light2 !important;
        }
    }

    #flexPaneCloseButton {
        color: @text-light2 !important;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2) !important;
        }
    }


    // Panes
    .od-DetailsPane,
    .ms-ScrollablePane,
    .ms-ScrollablePane--contentContainer,
    .od-Panel,
    .ms-Panel-main,
    .ms-Panel-commands,
    .ms-Panel-headerText
    {
        color: @text-light2 !important;
        background-color: @colorGrey10 !important;
    }

    [class^='od-DetailsPane-'] {
        background-color: @colorGrey10 !important;
        color: @text-light2 !important;

        &[class*='-header'] {
            background-color: @colorGrey7 !important;
        }
    }

    .od-DetailsPaneWrapper {
        border-color: @colorGrey4 !important;
    }

    .InfoPane-section,
    [class^='od-FolderCoverTile-item']
    {
        background-color: @colorGrey10 !important;
        color: @text-light2 !important;
    }

    .od-FolderCoverTile-image {
        background-color: @colorGrey38 !important;
    }


    // Progress indicator
    .ms-ProgressIndicator-itemName {
        color: @text-light2;
    }

    .ms-ProgressIndicator-itemDescription {
        color: @text-light3;
    }


    // Sharing section
    .od-SharingSection-PermissionsPile {
        background-color: @colorGrey10 !important;
        color: @text-light2 !important;
    }


    // Lists
    .ms-DetailsList 
    {
        --colorNeutralBackground1: @colorGrey4 !important;

        &,
        .ms-DetailsHeader,
        .ms-DetailsHeader-cell,
        .ms-DetailsRow,
        .ms-Shimmer-container,
        .ms-Shimmer-container *
        {
            color: @text-light1 !important;
            background-color: @colorGrey4 !important;
            border-color: #333 !important;
        }

        .ms-DetailsHeader-cell:hover {
            box-shadow: none !important;
        }

        .ms-DetailsRow {
            //border-image: linear-gradient(to right, transparent 56px, #333 56px, #333 calc(100% - 8px), transparent calc(100% - 8px)) 0 0 1 / 1 / 0 stretch;
            &:hover:not(.is-selected)
            {
                &::before {
                    background-color: @colorGrey14;
                }
            }
        }
    }

    .ms-DetailsRow-cell {
        [class*='nameField_'] {
            color: @text-light1 !important;
        }

        [class*='fieldText_'],
        [class*='sharedFieldRender_'] 
        {
            color: @text-light3;
        }
    }

    .odsp-spartan-list {
        &,
        [class*='odlistContent_'],
        [class*='odlistHeaderRow_'],
        [class*='row_']
        {
            background-color: @colorGrey4 !important;
            border-color: #333 !important;
        }
    }

    .od-ItemActivityList-activity,
    .od-ItemActivityFeed-noActivities {
        color: @text-light2 !important;
        background-color: @colorGrey4 !important;
    }

    .od-ItemActivity-item-focusZone {
        --buttonHoverBackgroundAlpha: fade(#fff, 7%) !important;
    }

    .od-ItemActivity-item-nameText,
    .od-ItemActivity-item-textContent {
        color: @text-light3 !important;
    }

    .od-itemActivity-commentActivity-commentContent {
        color: @text-light2 !important;
    }


    // Buttons
    [class^='actionRow_'] [data-id='filterPivot'] button:active {
        background-color: @colorBrandBackground2Pressed;
    }

    [class^='carouselTopNav_'] {
        background-color: transparent !important;
    }

    [class^='navButton_'] {
        &,
        .ms-Icon {
            color: @text-light2;
            background-color: @colorGrey7;
        }

        &:hover:not(:disabled) {
            &,
            .ms-Icon {
                color: @text-light1;
                background-color: @colorGrey4;
            }
        }

        &:disabled {
            opacity: 0.45;
            color: @text-light1;
            background-color: @colorGrey7;
        }
    }

    .isOD3 .is-selected [class*='heroButton_']:hover:not(:disabled) {
        background-color: var(--buttonHoverBackgroundAlpha);
    }

    .od-Caption-textField {
        background-color: transparent !important;
    }


    // Dialogs
    .od-Dialog-content
    {
        color: @text-light2 !important;
        background-color: @colorGrey20 !important;
    }

    .od-Dialog-title
    {
        color: @text-light1 !important;
    }

    .od-Dialog-button
    {
        color: @text-light2 !important;

        &:hover,
        &:active {
            background-color: rgba(0, 0, 0, 0.2) !important;
        }
    }


    // Command Bar
    [class^='commandBar_'][class*='hasSelection_']
    {
        .ms-CommandBar, 
        [class^='commandbar_']
        {
            background-color: @colorGrey4 !important;
    
            .ms-Button:hover:not(.is-disabled) {
                > .ms-Button-flexContainer {
                    background-color: @colorGrey10 !important;
                }
            }
        }
    }


    // Carousel
    [class^='carouselList_'] [class^='tileViewport_']
    {
        background-color: @colorGrey4;

        [class^='itemActivity_'] * {
            color: @text-light1 !important;
        }
    }


    // Miscellaneous Icons
    [class*='iconClassName-'] {
        color: @text-light1 !important;
    }

    [class*='sortIcon-'],
    [class*='filterChevron-']
    {
        color: @text-light3 !important;
    }


    // Storage options
    .isOD3 .StorageOptions.StorageOptions--cards,
    .isOD3 .StorageOptions.StorageOptions--slider,
    .isOD3 .StorageOptions-top,
    .isOD3 .StorageOptions-header,
    .isOD3 .StorageOptions-title,
    .isOD3 .StorageOptions-newPage-currentPlan-label,
    .isOD3 .StorageOptions-currentStorage-label,
    .od-StorageAddOnTileContainer,
    .od-StorageAddOnTileContainer .header,
    .od-StorageAddOnTileContainer .description
    {
        color: @text-light2 !important;
    }

    .od-PlanCardTest,
    .od-PlanCardTest-secondaryHeader,
    .od-PostPurchasePlansPage-featureListHeader,
    .od-PlanCardTest-featureListItemText
    {
        color: @text-light2 !important;
        background-color: @colorGrey4 !important;
    }

    .od-PostPurchasePlansPage-listBlock,
    .od-PlanCardTest-titleSeparator  {
        border-color: @colorGrey17 !important;
    }

    .od-PlanCardTest-appsIncluded {
        color: var(--colorBrandForegroundLink) !important;
    }

    .od-StorageAddOnTileContainer {
        .storageAddOnTile {
            &,
            .price,
            .description {
                color: @text-light2 !important;
                background-color: @colorGrey4 !important;
            }

            .line {
                background-color: @colorGrey17;
            }
        }

        .disclaimer {
            color: @text-light3 !important;
        }
    }

}