/* ==UserStyle==
@name         OneDrive After Dark
@description  Finely tuned UserCSS dark theme for the OneDrive web app
@namespace    https://github.com/stamminator
@version      20240330.2
@author       stamminator
==/UserStyle== */
#appRoot > .od-FilePickerApp,
#appRoot > .od-FilePickerApp .od-FilePicker,
#appRoot > .od-FilePickerApp .od-FilePicker-tray {
  background-color: #2c2c2c;
}
#appRoot > .od-FilePickerApp [class^='navPane_'] {
  background-color: #2c2c2c;
  border-color: #2c2c2c;
}
#appRoot > .od-FilePickerApp [class^='navPane_'] .ms-Button.ms-Nav-link {
  background-color: transparent !important;
  --buttonHoverBackgroundAlpha: rgba(255, 255, 255, 0.07);
}
#appRoot > .od-FilePickerApp [class^='navPane_'] .ms-Button.ms-Nav-link:not(.is-disabled):hover,
#appRoot > .od-FilePickerApp [class^='navPane_'] .ms-Button.ms-Nav-link:not(.is-disabled):active {
  background-color: var(--buttonHoverBackgroundAlpha) !important;
}
#appRoot > .od-FilePickerApp .od-FilePicker-tray {
  background-color: #2c2c2c;
  border-color: #2c2c2c;
}
@-moz-document domain("onedrive.live.com"), domain("photos.onedrive.com"), url-prefix("https://www.odwebp.svc.ms/share") {
  body {
    color: #ebebeb !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ebebeb !important;
  }
  dt {
    color: #8b8b8b !important;
  }
  dd {
    color: #bdbdbd !important;
  }
  :root,
  * {
    --colorBrandForegroundLinkSelected: #0f6cbd;
    --colorNeutralBackgroundAlpha3Hover: rgba(0, 0, 0, 0.25);
    --colorNeutralForeground1: #ebebeb;
    --colorNeutralForeground2: #bdbdbd;
    --od3-row-divider: #333 !important;
    --od3-row-inset-background: rgba(40, 134, 222, 0.25) !important;
    --ms-palette-neutralPrimary: #ebebeb;
    --ms-semanticColors-bodyBackground: #202020;
  }
  :root,
  [data-theme="fluent-light"],
  [data-theme="fluent-dark"] {
    --pageBackgroundGradientColorStop1: #242424;
    --pageBackgroundGradientColorStop2: #202020;
    --pageBackgroundGradientColorStop3: #1c1c1c;
  }
  :root {
    --buttonHoverBackgroundAlpha: rgba(0, 0, 0, 0.25);
  }
  html body .ms-fontColor-neutralSecondary {
    color: #989898;
  }
  .ms-Button,
  .ms-Button i {
    color: #ebebeb !important;
  }
  .ms-Button:hover,
  .ms-Button:hover .ms-Button-menuIcon {
    color: #ebebeb !important;
  }
  .ms-Button:hover:not(.is-disabled) {
    background-color: var(--buttonHoverBackgroundAlpha);
  }
  .ms-Button.ms-Button--command:hover,
  .ms-Button.ms-Button--commandBar:hover {
    background-color: transparent !important;
  }
  .ms-Button.ms-Button--default {
    color: #bdbdbd;
    background-color: transparent !important;
    border-color: #a6a6a6 !important;
  }
  .ms-Button.ms-Button--default:hover:not(.is-disabled) {
    background-color: var(--buttonHoverBackgroundAlpha) !important;
  }
  .ms-Button.ms-Button--primary:hover:not(.is-disabled) {
    background-color: #0f66b0 !important;
  }
  .ms-Button.is-disabled {
    opacity: 0.25;
  }
  .od-Panel-button--close {
    color: #bdbdbd;
  }
  .od-Panel-button--close:hover {
    background-color: var(--buttonHoverBackgroundAlpha);
  }
  .ms-TextField {
    background-color: #f0f0f0 !important;
    color: #000000 !important;
  }
  .ms-TextField-fieldGroup,
  input.ms-TextField-field,
  textarea.ms-TextField-field,
  .ms-BasePicker-input {
    background-color: #ebebeb !important;
    color: #000000 !important;
    border-radius: 4px;
  }
  .ms-TextField-fieldGroup::placeholder,
  input.ms-TextField-field::placeholder,
  textarea.ms-TextField-field::placeholder,
  .ms-BasePicker-input::placeholder {
    color: #707070 !important;
  }
  .ms-Dialog-main,
  .ms-Dialog-content,
  .ms-Dialog-subText {
    color: #bdbdbd !important;
    background-color: #333333 !important;
  }
  .ms-Dialog-title {
    color: #ebebeb !important;
  }
  .ms-Dialog-button {
    color: #bdbdbd !important;
  }
  .ms-Dialog-button:hover,
  .ms-Dialog-button:active {
    background-color: var(--buttonHoverBackgroundAlpha) !important;
  }
  [data-automationid="msFluentToast"][role='alert'][class*='root-'] {
    background-color: #121212 !important;
    --buttonHoverBackgroundAlpha: rgba(255, 255, 255, 0.07) !important;
  }
  i[data-icon-name="SyncStatusSolid"] {
    line-height: 1;
  }
  .ms-Pivot-link:hover {
    background-color: #0000001a;
  }
  .ms-Breadcrumb-item,
  .ms-Breadcrumb-itemLink {
    color: #ebebeb !important;
  }
  .ms-Breadcrumb-chevron {
    color: #8b8b8b !important;
  }
  .ms-Suggestions-item,
  .ms-Suggestions-itemButton {
    color: #bdbdbd;
    background-color: #2c2c2c;
  }
  .ms-Suggestions-item:hover,
  .ms-Suggestions-itemButton:hover {
    background-color: #242424 !important;
  }
  .ms-Suggestions-item.is-suggested,
  .ms-Suggestions-itemButton.is-suggested {
    background-color: #202020 !important;
  }
  .ms-Suggestions-item .ms-Persona-primaryText:hover,
  .ms-Suggestions-itemButton .ms-Persona-primaryText:hover {
    color: #ebebeb;
  }
  .ms-Dropdown-item {
    color: #bdbdbd;
    background-color: #2c2c2c;
  }
  .ms-Dropdown-item:hover {
    background-color: #242424 !important;
  }
  .ms-PickerPersona-container {
    color: #bdbdbd;
    background-color: #1a1a1a;
    border: 1px solid #333333;
  }
  .ms-PickerPersona-container:hover {
    cursor: pointer;
    background-color: #121212;
  }
  .ms-PickerPersona-container.is-selected,
  .ms-PickerPersona-container.is-selected:hover {
    background-color: #121212;
    border-color: var(--colorBrandForegroundLink);
  }
  .ms-PickerPersona-container .ms-PickerItem-content.ms-Button--icon:hover {
    background-color: #333333;
  }
  .ms-Persona-primaryText {
    color: #ebebeb;
  }
  .ms-Persona-primaryText:hover {
    color: #ebebeb;
  }
  .ms-Persona-secondaryText {
    color: #bdbdbd;
  }
  .ms-Persona-tertiaryText {
    color: #8b8b8b;
  }
  .ms-Callout,
  .ms-Callout-beak,
  .ms-Callout-beakCurtain,
  .ms-Callout-main,
  .ms-ContextualMenu,
  .ms-ContextualMenu-link {
    color: #bdbdbd !important;
    background-color: #1a1a1a !important;
    border-color: #242424;
  }
  .ms-ContextualMenu-itemText {
    color: #bdbdbd !important;
  }
  .ms-ContextualMenu-secondaryText {
    color: #8b8b8b !important;
  }
  .ms-ContextualMenu-link:hover {
    background-color: #242424 !important;
  }
  .ms-ContextualMenu-link .ms-ContextualMenu-icon {
    color: inherit;
  }
  .ms-ContextualMenu-checkmarkIcon {
    color: #ebebeb !important;
  }
  .ms-ContextualMenu-divider {
    background-color: #424242;
  }
  .ms-Tooltip-content,
  .ms-Tooltip-subText {
    color: #bdbdbd !important;
  }
  .ms-DatePicker {
    background-color: #1a1a1a;
  }
  .ms-DatePicker [class*='monthAndYear-'] {
    color: #bdbdbd;
  }
  .ms-DatePicker [class*='monthComponents-'] button {
    color: #bdbdbd;
  }
  .ms-DatePicker [class*='monthComponents-'] button:hover {
    background-color: #242424;
  }
  .ms-DatePicker [class*='monthComponents-'] button[class*='disabledStyle'] {
    color: #424242;
  }
  .ms-DatePicker [class*='dayCell-'] {
    color: #ebebeb;
  }
  .ms-DatePicker [class*='dayCell-'].ms-CalendarDay-hoverStyle {
    background-color: #333333;
  }
  .ms-DatePicker [class*='dayCell-'][class*='daySelected-'] {
    background-color: #333333 !important;
    border-color: #fafafa;
  }
  .ms-DatePicker [class*='dayOutsideBounds-'] button {
    color: #616161;
  }
  .ms-DatePicker th[class*='dayCell-'] {
    cursor: default;
    border-bottom: 1px solid #7d7d7d;
  }
}
@-moz-document url-prefix("https://www.odwebp.svc.ms/share") {
  #odc-share-root,
  .od-Share,
  .od-ShareMain-section {
    background-color: #202020 !important;
    color: #bdbdbd !important;
  }
  .od-ShareHintDetail-statusText,
  .od-ShareHintDetail-statusText * {
    color: var(--colorNeutralForegroundInvertedLink) !important;
  }
  .od-RoleSelectorCompact-permissionButton {
    background-color: inherit;
    color: inherit;
  }
  .od-ShareLinkDescription-label {
    color: #bdbdbd !important;
  }
  .od-ShareLinkDescription-detailText {
    color: #8b8b8b !important;
  }
  .od-ExpirationDatePicker-delete {
    color: #bdbdbd;
  }
  .od-RoleSelectorLarge-rolesDropdown .ms-Dropdown-title,
  .od-ExpirationDatePicker-content,
  .od-PasswordField .od-ShareLink-passwordFieldContent {
    border-bottom-color: transparent;
  }
  .od-PasswordField .ms-TextField {
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
  }
  .od-PasswordField .ms-TextField .ms-TextField-fieldGroup {
    height: auto;
  }
  .od-ShareHint .od-ShareHint-shimmer {
    border-color: transparent !important;
    background-image: linear-gradient(to right, #616161 0, #8b8b8b 50%, #616161 100%);
    background-color: #616161;
  }
  .od-ShareHint .od-ShareHint-shimmer .od-ShareHint-iconHolder-shimmer svg {
    fill: #202020 !important;
  }
  .od-ShareHint .od-ShareHint-shimmer .od-ShareHint-text-shimmer {
    border-color: #202020 !important;
  }
  .od-PermissionsPivot-emptySection {
    color: inherit;
  }
  .od-SharePrincipal2,
  .od-PermissionsPivot-dropdown div[role=tablist].ms-FocusZone,
  .od-PermissionsPivot-pivot div[role=tablist].ms-FocusZone {
    border-color: #424242;
  }
}
@-moz-document domain("onedrive.live.com") {
  #O365_NavHeader {
    background-color: #121212;
  }
  #O365_NavHeader .o365cs-base,
  #O365_NavHeader .o365sx-appName,
  #O365_NavHeader .o365sx-waffle {
    color: var(--globalColorGrey88);
  }
  #O365_NavHeader .o365cs-base:hover,
  #O365_NavHeader .o365sx-appName:hover,
  #O365_NavHeader .o365sx-waffle:hover {
    background-color: #242424;
  }
  #O365_NavHeader .o365sx-activeButton {
    background-color: #2c2c2c;
  }
  #O365_NavHeader .o365sx-searchBoxInactive,
  #O365_NavHeader .o365sx-searchBoxActive {
    color: #424242;
    background-color: #f0f0f0;
  }
  #O365_UniversalMeContainer:hover {
    background-color: #242424;
  }
  #mectrl_main_body,
  .mectrl_body,
  #mectrl_body_signOut {
    background-color: #1a1a1a;
    color: #ebebeb;
  }
  .mectrl_accountList,
  #mectrl_body_signOut:hover {
    background-color: #242424;
  }
  .OneUp.OneUp--newDesignedCommandBar {
    background-color: #202020;
  }
  .od-VolumeMenu {
    color: #bdbdbd;
    border-radius: 6px;
    border-color: #000;
    background-color: #222 !important;
  }
  .od-VolumeMenu-button {
    color: #bdbdbd !important;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .od-VolumeMenu-button:hover {
    background-color: rgba(255, 255, 255, 0.07) !important;
  }
  .od-VolumeMenu-scrubFill {
    background-color: #707070;
  }
  .od-VolumeMenu-scrubThumb::after {
    top: -2px;
    box-sizing: content-box;
    border-radius: 8px;
    border: 2px solid #eee;
    background-color: #eee;
  }
  .od-VolumeMenu-scrubArea:active .od-VolumeMenu-scrubThumb::after {
    background-color: #707070;
  }
  .OneUp-content,
  .OneUp-content [class*='Content_'] {
    background-color: #202020 !important;
  }
  .OneUp-content [class*='bottomToolArea_'] [role='menubar'] {
    background-color: #2c2c2c !important;
    border-color: #616161 !important;
  }
  .OneUp-content [class*='bottomToolArea_'] [role='menubar'] .ms-Button {
    background-color: #2c2c2c !important;
  }
  .OneUp-content [class*='bottomToolArea_'] [role='menubar'] .ms-Button:hover:not(.is-disabled) {
    background-color: var(--buttonHoverBackgroundAlpha) !important;
  }
  .OneUp-content [class*='bottomToolArea_'] [role='menubar'] [class*='pagination_'] {
    color: #bdbdbd !important;
  }
  .OneUp-content [class*='bottomToolArea_'] [role='menubar'] [class*='keyword_'] > [class*='result_'] {
    color: #bdbdbd !important;
  }
  .OneUp-content .OneUp-caption-container,
  .OneUp-content .od-PlaybackPanel,
  .OneUp-content .od-PlaybackPanel-timePlayed,
  .OneUp-content .od-PlaybackPanel-totalTime {
    background-color: rgba(18, 18, 18, 0.9) !important;
    color: #bdbdbd !important;
  }
  .OneUp-content .OneUp-caption {
    color: #bdbdbd !important;
  }
  .OneUp-content .od-PlaybackPanel-button {
    color: #bdbdbd !important;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .OneUp-content .od-PlaybackPanel-button:hover {
    background-color: rgba(255, 255, 255, 0.07) !important;
  }
  .OneUp-commandBar {
    background-color: #121212 !important;
    border-color: #121212 !important;
  }
  .OneUp-commandBar .ms-Button {
    --buttonHoverBackgroundAlpha: rgba(255, 255, 255, 0.07) !important;
  }
  .OneUp-commandBar .ms-Button:hover:not(.is-disabled) > .ms-Button-flexContainer {
    background-color: var(--buttonHoverBackgroundAlpha);
  }
  .OneUp-commandBar .ms-Button.od-Command--PrimaryButton:hover {
    background-color: #0f66b0 !important;
  }
  .OneUp-commandBar .ms-Button .ms-Button-menuIcon {
    background-color: transparent;
  }
  .OneUp-commandBar .ms-Button.od-Command--fileTitle {
    opacity: 1;
  }
  [id^='ms-searchux-popup-'],
  [id^='ms-searchux-popup-'] #file,
  [id^='ms-searchux-popup-'] ul[class^='group-'],
  [id^='ms-searchux-popup-'] ul[class^='group-'] > li,
  [id^='ms-searchux-popup-'] [class^='suggestionContainer-'],
  [id^='ms-searchux-popup-'] [class^='submitSuggestion-'] {
    color: #7d7d7d !important;
    background-color: #2c2c2c;
  }
  [id^='ms-searchux-popup-'] [class^='noWrap-'] {
    color: #7d7d7d !important;
  }
  [id^='ms-searchux-popup-'] [class^='suggestionContainer-']:hover,
  [id^='ms-searchux-popup-'] [class^='submitSuggestion-']:hover {
    background-color: #424242;
  }
  [id^='ms-searchux-popup-'] [class^='suggestionIconWrapper-'],
  [id^='ms-searchux-popup-'] [class^='suggestionIconWrapper-'] [class^='icon-'] {
    color: #f5f5f5;
  }
  #spartan-left-nav,
  [class^='navGroup_'],
  [class^='quotaBarHeader_'] {
    color: #ebebeb !important;
  }
  #spartan-left-nav.odsp-spartan-nav-expanded {
    background-color: #202020;
  }
  [class^='navLink_'] {
    color: #ebebeb;
  }
  [class^='navLink_']:hover::before,
  [class^='navLink_']:hover [class^='navLinkInner_'] {
    background-color: #424242 !important;
  }
  [class^='navLink_']:hover a {
    color: #ebebeb !important;
  }
  #appLauncher .o365sx-neutral-foreground-background,
  #appLauncher .o365sx-neutral-foreground-hover-background:hover {
    background-color: #121212;
  }
  #appLauncher .o365sx-neutral-light-background,
  #appLauncher .o365cs-base .o365sx-neutral-light-hover-background:hover {
    background-color: #2c2c2c;
  }
  #appLauncher .o365sx-neutral-dark-font,
  #appLauncher .o365sx-neutral-dark-hover-font:hover {
    color: #ebebeb;
  }
  #appLauncher [id^='O365_AppTile_']:hover,
  #appLauncher [id^='intentTile_']:hover,
  #appLauncher [id^='O365_AppTile_']:hover .o365sx-neutral-foreground-background,
  #appLauncher [id^='intentTile_']:hover .o365sx-neutral-foreground-background,
  #appLauncher [id^='O365_AppTile_']:hover .o365sx-neutral-foreground-hover-background:hover,
  #appLauncher [id^='intentTile_']:hover .o365sx-neutral-foreground-hover-background:hover {
    border-color: #2c2c2c !important;
    background-color: #242424 !important;
    box-shadow: none !important;
  }
  #appLauncher [id^='O365_AppTile_']:active,
  #appLauncher [id^='intentTile_']:active {
    border-color: #333333 !important;
    background-color: #2c2c2c;
  }
  #appLauncher #appLauncherSearchWrapper:hover::before {
    color: transparent;
  }
  #appLauncher #appLauncherSearchWrapper:focus-within::before {
    color: #0f6cbd;
  }
  #O365fpcontainerid,
  #flexPaneScrollRegion,
  #flexPaneScrollRegion > div,
  #FlexPane_Settings {
    color: #bdbdbd !important;
    background-color: #1a1a1a !important;
    border-color: #121212 !important;
  }
  #O365fpcontainerid .o365sx-neutral-accent-link,
  #flexPaneScrollRegion .o365sx-neutral-accent-link,
  #flexPaneScrollRegion > div .o365sx-neutral-accent-link,
  #FlexPane_Settings .o365sx-neutral-accent-link {
    color: #bdbdbd !important;
  }
  #flexPaneCloseButton {
    color: #bdbdbd !important;
  }
  #flexPaneCloseButton:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .od-DetailsPane,
  .ms-ScrollablePane,
  .ms-ScrollablePane--contentContainer,
  .od-Panel,
  .ms-Panel-main,
  .ms-Panel-commands,
  .ms-Panel-headerText {
    color: #bdbdbd !important;
    background-color: #202020 !important;
  }
  [class^='od-DetailsPane-'] {
    background-color: #202020 !important;
    color: #bdbdbd !important;
  }
  [class^='od-DetailsPane-'][class*='-header'] {
    background-color: #1a1a1a !important;
  }
  .od-DetailsPaneWrapper {
    border-color: #121212 !important;
  }
  .InfoPane-section,
  [class^='od-FolderCoverTile-item'] {
    background-color: #202020 !important;
    color: #bdbdbd !important;
  }
  .od-FolderCoverTile-image {
    background-color: #616161 !important;
  }
  .ms-ProgressIndicator-itemName {
    color: #bdbdbd;
  }
  .ms-ProgressIndicator-itemDescription {
    color: #8b8b8b;
  }
  .od-SharingSection-PermissionsPile {
    background-color: #202020 !important;
    color: #bdbdbd !important;
  }
  .ms-DetailsList {
    --colorNeutralBackground1: #121212 !important;
  }
  .ms-DetailsList,
  .ms-DetailsList .ms-DetailsHeader,
  .ms-DetailsList .ms-DetailsHeader-cell,
  .ms-DetailsList .ms-DetailsRow,
  .ms-DetailsList .ms-Shimmer-container,
  .ms-DetailsList .ms-Shimmer-container * {
    color: #ebebeb !important;
    background-color: #121212 !important;
    border-color: #333 !important;
  }
  .ms-DetailsList .ms-DetailsHeader-cell:hover {
    box-shadow: none !important;
  }
  .ms-DetailsList .ms-DetailsRow:hover:not(.is-selected)::before {
    background-color: #242424;
  }
  .ms-DetailsRow-cell [class*='nameField_'] {
    color: #ebebeb !important;
  }
  .ms-DetailsRow-cell [class*='fieldText_'],
  .ms-DetailsRow-cell [class*='sharedFieldRender_'] {
    color: #8b8b8b;
  }
  .odsp-spartan-list,
  .odsp-spartan-list [class*='odlistContent_'],
  .odsp-spartan-list [class*='odlistHeaderRow_'],
  .odsp-spartan-list [class*='row_'] {
    background-color: #121212 !important;
    border-color: #333 !important;
  }
  .od-ItemActivityList-activity,
  .od-ItemActivityFeed-noActivities {
    color: #bdbdbd !important;
    background-color: #121212 !important;
  }
  .od-ItemActivity-item-focusZone {
    --buttonHoverBackgroundAlpha: rgba(255, 255, 255, 0.07) !important;
  }
  .od-ItemActivity-item-nameText,
  .od-ItemActivity-item-textContent {
    color: #8b8b8b !important;
  }
  .od-itemActivity-commentActivity-commentContent {
    color: #bdbdbd !important;
  }
  [class^='actionRow_'] [data-id='filterPivot'] button:active {
    background-color: #115ea3;
  }
  [class^='carouselTopNav_'] {
    background-color: transparent !important;
  }
  [class^='navButton_'],
  [class^='navButton_'] .ms-Icon {
    color: #bdbdbd;
    background-color: #1a1a1a;
  }
  [class^='navButton_']:hover:not(:disabled),
  [class^='navButton_']:hover:not(:disabled) .ms-Icon {
    color: #ebebeb;
    background-color: #121212;
  }
  [class^='navButton_']:disabled {
    opacity: 0.45;
    color: #ebebeb;
    background-color: #1a1a1a;
  }
  .isOD3 .is-selected [class*='heroButton_']:hover:not(:disabled) {
    background-color: var(--buttonHoverBackgroundAlpha);
  }
  .od-Caption-textField {
    background-color: transparent !important;
  }
  .od-Dialog-content {
    color: #bdbdbd !important;
    background-color: #333333 !important;
  }
  .od-Dialog-title {
    color: #ebebeb !important;
  }
  .od-Dialog-button {
    color: #bdbdbd !important;
  }
  .od-Dialog-button:hover,
  .od-Dialog-button:active {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  [class^='commandBar_'][class*='hasSelection_'] .ms-CommandBar,
  [class^='commandBar_'][class*='hasSelection_'] [class^='commandbar_'] {
    background-color: #121212 !important;
  }
  [class^='commandBar_'][class*='hasSelection_'] .ms-CommandBar .ms-Button:hover:not(.is-disabled) > .ms-Button-flexContainer,
  [class^='commandBar_'][class*='hasSelection_'] [class^='commandbar_'] .ms-Button:hover:not(.is-disabled) > .ms-Button-flexContainer {
    background-color: #202020 !important;
  }
  [class^='carouselList_'] [class^='tileViewport_'] {
    background-color: #121212;
  }
  [class^='carouselList_'] [class^='tileViewport_'] [class^='itemActivity_'] * {
    color: #ebebeb !important;
  }
  [class*='iconClassName-'] {
    color: #ebebeb !important;
  }
  [class*='sortIcon-'],
  [class*='filterChevron-'] {
    color: #8b8b8b !important;
  }
  .isOD3 .StorageOptions.StorageOptions--cards,
  .isOD3 .StorageOptions.StorageOptions--slider,
  .isOD3 .StorageOptions-top,
  .isOD3 .StorageOptions-header,
  .isOD3 .StorageOptions-title,
  .isOD3 .StorageOptions-newPage-currentPlan-label,
  .isOD3 .StorageOptions-currentStorage-label,
  .od-StorageAddOnTileContainer,
  .od-StorageAddOnTileContainer .header,
  .od-StorageAddOnTileContainer .description {
    color: #bdbdbd !important;
  }
  .od-PlanCardTest,
  .od-PlanCardTest-secondaryHeader,
  .od-PostPurchasePlansPage-featureListHeader,
  .od-PlanCardTest-featureListItemText {
    color: #bdbdbd !important;
    background-color: #121212 !important;
  }
  .od-PostPurchasePlansPage-listBlock,
  .od-PlanCardTest-titleSeparator {
    border-color: #2c2c2c !important;
  }
  .od-PlanCardTest-appsIncluded {
    color: var(--colorBrandForegroundLink) !important;
  }
  .od-StorageAddOnTileContainer .storageAddOnTile,
  .od-StorageAddOnTileContainer .storageAddOnTile .price,
  .od-StorageAddOnTileContainer .storageAddOnTile .description {
    color: #bdbdbd !important;
    background-color: #121212 !important;
  }
  .od-StorageAddOnTileContainer .storageAddOnTile .line {
    background-color: #2c2c2c;
  }
  .od-StorageAddOnTileContainer .disclaimer {
    color: #8b8b8b !important;
  }
}
